<link rel="stylesheet" href="/css/styles.css">
<body style="background-color: blueviolet;">
    

<%- include("partials/header") -%>
<h1 class="para"><%= title %> </h1>
<p class="para"><%= post %> </p>

<%- include("partials/footer") -%>
</body>